<!-- Page content -->
<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  <div >
    <div >
      <div class="awidget">
        <div class="awidget-body">
          <!-- Dayr Top Half Details -->
          <!-- Dayr Top-Left (includes time, and dayrs)-->
          <div class="col-md-12">
            <!-- main content start-->
            <center>
              <% @page_title = "#{@user.username}'s Profile - Dayr" %>

              <% if user_signed_in? and current_user == @user %>
                <%= gravatar_tag @user, :size => 140, :html => { :id => 'editable-profile-picture', :title => 'Edit profile picture' }  %>
              <% else %>
                <%= gravatar_tag @user, :size => 140 %>
              <% end %>            
              <h1 class="_username">
                <%= @user.username %>
              </h1>            
            </center>
            <hr>
            <center>
            <p class="text-left"><strong>Bio: </strong><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
            <br>
            </center>


            <div class="row">
              <div class="span2">

              </div>
              <div class="span6 profile-info">
                <div class="pull-right">
              	  <% if user_signed_in? %>

              			<% if current_user == @user %>
              				<%= link_to "Edit your profile", edit_user_registration_path(:anchor => 'profile'), :class => 'btn' %>				
              			<%# elsif @user.followed_by?(current_user) %>
                      		<%= #link_to 'Following', unfollow_profile_path(@user, :redirect => request.fullpath), 
                            #:method => :delete,
                            #:class => 'btn info _unfollow',
                            #:rel => 'nofollow' 
            				%>
                    	<% else %>
              				<%= #link_to "Follow", follow_profile_path(@user, :redirect => request.fullpath), 
              				      #:method => :post,
              				      #:class => 'btn _follow',
              				      #:rel => 'nofollow' 
            				%>
              			<% end %>

              		<% end %>
              	</div>

              	<% profile_height = 85 # 45px (profile-username) + 40px (profile-counts) %>
              	<% profile_info = capture do %>

                	<% unless @profile.nil? or @profile.description.blank? %>
                	  <% description = @profile.description.gsub("\n", "") %>
                	  <% lines = word_wrap(description, 80).split("\n") %>
                		<div class="_description">
                		  <%= lines.first %>
                		  <% if lines.length == 2 %>
                		    <br/><%= lines.last %>
                		  <% end %>
                		</div>

                		<% profile_height += (20 * lines.length) %>
                	<% end %>

                	<% if not @profile.nil? and not @profile.location.blank? %>

                    <% unless @profile.location.blank? %>
                  		<span class="_location"><%= @profile.location %></span>
                  	<% end %>

                  	<% if not @profile.location.blank? and not @profile.location.blank? %>
                  	  <span class="separator">&middot;</span>
                  	<% end %>

                  	<% unless @profile.url.blank? %>
                  		<span class="_url"><%= link_to @profile.url, @profile.url %></span>
                  	<% end %>

                	  <% profile_height += 20 %>

                	<% end %>
                <% end %>

                <div style="height:<%= profile_height %>px;padding-top:<%= 140 - profile_height %>px;">
                  <%= profile_info %>
                </div>
              </div>
            </div>

            <hr class="space" />

            <div class="row">
              <div class="span8">
            	<% if @user.assignments.empty? %>
                <h2>Challenges Completed</h2>
                  <p>
                    <i>You haven't completed any challenges yet.</i>
                  </p>
                <% else %>
                <h2><%=pluralize(@user.assignments.length, 'Challenge')%> Completed</h2>
                  <ul>
                    <% @user.assignments.each do |assignment| %>
                      <li><%= assignment.date.strftime("%b %d %Y") %>: <%= link_to assignment.challenge.name,  assignment%></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
            <!-- main content end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sb do %>

  <div class="awidget">
    <div class="faq">
      <h2>Contact</h2>
      <ul>
        <li><a href="https://www.facebook.com/groups/toolsforteenmoms/" target="_blank">T4TM Facebook Group</a></li>
        <li><%= link_to "Ask the Advice Nurse", new_advice_message_path%></li>
        <li><a href="/about/#Contact">Site Coordinators</a></li>
      </ul>
    </div>
    <div class="share">
      <h2>Share</h2>
      <!-- Like Buttons BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5289d4263ec6634a"></script>
      <!-- Like Buttons END -->
    </div>
  </div>

<% end %>