<% content_for :title do %>Your Advice Messages<% end %>

<% content_for :head do %>
  <style>
    .advice_message-actions {
      display:none;
      margin-left:20px;
    }
    ul.advice_message > li {
      clear:both;
      padding:5px;
      list-style-type: none;
    }

  </style>
<% end %>



<!-- Page content -->
<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  <div >
    <div >
      <div class="awidget">
        <div class="awidget-body">
          <!-- Dayr Top Half Details -->
          <!-- Dayr Top-Left (includes time, and dayrs)-->
          <div class="col-md-12">
            <!-- main content start-->
            
            <div class="page-actions">
              <% if user_signed_in? %>
              <%= link_to '+ New Advice Message', new_advice_message_path, :class => 'btn btn-primary', :id => 'new-assign' %> 
              <% else %>
              <%= link_to "Log in to Ask A Question!", new_user_session_path, 
                :class => "btn btn-large btn-primary",  :id => 'new-assign' %>
              <% end %>

            </div>

            <h1>Advice Messages</h1>

              <% if @advice_messages != nil && @advice_messages.length != 0%>
              <% @advice_messages.each do |advice_message| %>
              <article class="search-result row">
                <div class="col-xs-12 col-sm-12 col-md-2">
                  <a href="#" title="Lorem ipsum" class="thumbnail">
                    <%= gravatar_tag advice_message.user %>
                  </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 excerpet">
                  <i class="glyphicon glyphicon-calendar"></i><span><%=h advice_message.created_at.strftime("%b %d, %Y") %></span>
                  <h3><%= link_to advice_message.subject, advice_message, :class => 'assignment-challenge' %></h3>
                  <p><%= truncate( advice_message.question, length:45 ) %></p> 
                </div>
                <span class="clearfix borda"></span>
              </article>                      
                <% end %>
              <% else %>

              <% end %>                            

            <!-- main content end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sb do %>


<% end %>

