<!-- Page content -->
<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  <div >
    <div >
      <div class="awidget">
        <div class="awidget-body">
          <!-- Dayr Top Half Details -->
          <!-- Dayr Top-Left (includes time, and dayrs)-->
          	<div class="col-md-12">
            <!-- main content start-->

				<% content_for :title do %>Advice Message<% end %>

				<h1>Question</h1>
				<div><%= time_ago_in_words(@advice_message.created_at) %> ago</div>
				<h2><%= @advice_message.subject %> </h2>
				<%= simple_format(@advice_message.question) %>

				<section>

	              <h2 id="comments_count">
	                <% if @comments != nil && @comments.length != 0 %>
	                  <%= pluralize(@comments.count, "Comment") %>  
	                <% else %>
	                  Leave a response...
	                <% end %>
	              </h2>

	              <% if @comments %>
	                <%= render :partial => "comments/threaded_view", :locals => { :comments => @comments, :commentable_object => @advice_message } %>
	              <% end %>

	              <% if user_signed_in? %>
	                <%= form_for([@advice_message,Comment.new], :html => { :class => 'form-vertical' }) do |f| =%>
	                  <%= f.hidden_field :user_id, :value=>current_user.id %>
	                  <%= f.hidden_field :commentable_id, :value=>@advice_message.id %>
	                  <%= f.hidden_field :commentable_type, :value=>@advice_message.class.name  %>

	                  <%= gravatar_tag current_user, :size => 35, :id => "comment-img" %>

	                  <%= f.text_area :body, :id => "comment", :class => "span8", :rows => 5, :style => "resize:none" %>
	                  <%= f.submit "Add response", :class => 'btn', :id => "comment_btn" %>
	                <% end %>
	              <% else %>
	                  <%= link_to "Log in to comment", new_user_session_path %>   
	              <% end %>

                </section>
            <!-- main content end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sb do %>

  <div class="awidget">
    <div class="faq">
      <h2>Contact</h2>
      <ul>
        <li><a href="https://www.facebook.com/groups/toolsforteenmoms/" target="_blank">T4TM Facebook Group</a></li>
        <li><%= link_to "Ask the Advice Nurse", new_advice_message_path%></li>
        <li><a href="/about/#Contact">Site Coordinators</a></li>
      </ul>
    </div>
    <div class="share">
      <h2>Share</h2>
      <!-- Like Buttons BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5289d4263ec6634a"></script>
      <!-- Like Buttons END -->
    </div>
  </div>

<% end %>