      <!-- Page content -->
      <div class="page-content blocky">

        <div class="container">
            <div class="row">

              <!-- main content area -->

              <div class="col-md-9">

                <div class="mainy">
                  <!-- Page title -->
                  <!-- Page title -->
                  <div >
                    <div >
                      <div class="awidget">

                        <div class="awidget-body">

                          <!-- Dayr Top Half Details -->

                          <!-- Dayr Top-Left (includes time, and dayrs)-->
                          <div class="col-md-12">
                            <h1>Tools for Teen Moms</h1>
                            <div class="col-md-6 left-col-md-6">

                                <!-- Dotted Section Start -->

                                <div class="challenge-info">
                                <h2>Today's Challenge</h2>
                                <p>
                                  Start communicating better with your baby with these unique tips and tricks most moms never knew about! 
                                  <br/><br/>
                                </p>

                                <% if is_challenge_today? %>
                                  <%=distance_of_time_in_words_to_now(Date.today+1.day)%>
                                <% else %>
                                  <%= @assignment.date.strftime("%b %d, %Y")%>
                                <% end %>

                                <br/>
                                <!-- Challenge button -->
                                <% if user_signed_in? %>
                                  <% if Completion.where("assignment_id = ? AND user_id = ?", @assignment, current_user).empty? %>
                                    <%= link_to "I did this!", complete_assignment_path(@assignment), 
                                      :method => :post,
                                      :class => 'btn btn-primary btn-large challenge-button', :id => 'complete-btn', :tag => p %>
                                  <% else %>
                                    <a class="btn btn-large challenge-button disabled">I did this!</a>
                                  <% end %>
                                <% else %>
                                  <%= link_to "Log in and Dayr!", new_user_session_path, 
                                    :class => "btn btn-large btn-primary challenge-button" %>
                                <% end %>

                                </div>

                                <!-- Dotted Section End -->

                                <!-- Social Share buttons start -->
                                <!-- Social Share buttons start -->

                                <div class="span1" style="padding-top:2px;">
                                  <iframe src="http://www.facebook.com/plugins/like.php?app_id=184042905000148&amp;href=<%= CGI.escape(assignment_url(@assignment)) %>&amp;send=false&amp;layout=box_count&amp;width=47&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=70" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:47px; height:70px;" allowTransparency="true"></iframe>
                                </div>
                                <div class="span1">
                                  <!-- Tweet button -->
                                  <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= assignment_url(@assignment) %>" data-text="<%= @assignment.challenge.name %> - Dayr" data-count="vertical">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                                </div>
                                <div class="span1" style="padding-top:2px;">
                                  <!-- +1 button -->
                                  <div class="g-plusone" data-size="tall" data-href="<%= assignment_url(@assignment) %>"></div>
                                  <script type="text/javascript">
                                    (function() {
                                      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                      po.src = 'https://apis.google.com/js/plusone.js';
                                      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                    })();
                                  </script>
                                </div>  

<!-- Social Share buttons end -->
<!-- Social Share buttons end -->

<!--
                                <div class="col-md-10">
                                  <div class="challenge-image challenge-image-mobile hidden-lg hidden-md hidden-sm">
                                    <%= image_tag @assignment.challenge.image_url || "http://placehold.it/380x285", {:width => '100%'} %>
                                    <% attribution = @assignment.challenge.image_attribution_url %>
                                    <br/>
                                  </div>                                         

                                  <% if @completions_size == 0 %>
                                    <h2>Be the first mom to dayr!</h2>
                                  <% elsif @completions_size == 1 %>
                                    <h2><span id="dayrs"><%= pluralize(@completions_size, 'mom') %></span> dayr'd</h2>
                                  <% else %>
                                    <h2><span id="dayrs"><%= pluralize(@completions_size, 'moms') %></span> dayr'd</h2>
                                  <% end %>
                                  <hr/>
                                  <ul class="completions">
                                    <% @assignment.completions.each do |completion| %>
                                      <li style="list-style-type:none; float: left;">
                                        <% if completion.user %>
                                          <%= link_to profile_path(completion.user.username) do %>
                                            <%= gravatar_tag completion.user, :size => '60', :html => { :style => "float:left;margin:0 10px 10px 0;" }  %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to "#" do %>
                                            <%= gravatar_tag completion.user, :size => '60', :html => { :style => "float:left;margin:0 10px 10px 0;" }  %>
                                            <%= "[deleted]" %>
                                          <% end %>            
                                        <% end %>     
                                      </li>
                                    <% end %>
                                  </ul>

                                </div>
-->
                            </div>

                            <!-- Dayr Top-Right (includes picture)-->

                            <div class="col-md-6">
                              <div class="challenge-image hidden-sm hidden-xs">
                                <%= image_tag @assignment.challenge.image_url || "http://placehold.it/380x285", {:width => '100%'} %>
                                <% attribution = @assignment.challenge.image_attribution_url %>
                              </div> 

    

                              <!-- Social share buttons end -->

                            </div>
                          </div>
                          <div class="col-md-12">
                            <p>
                              <%= raw textilize @assignment.challenge.description %>
                            </p>

                            <hr/>

                            <section>

                              <h2 id="comments_count">
                                <% if @comments != nil && @comments.length != 0 %>
                                  <%= pluralize(@comments.count, "Comment") %>  
                                <% else %>
                                  Leave a comment...
                                <% end %>
                              </h2>

                              <% if @comments %>
                                <%= render :partial => "comments/threaded_view", :locals => { :comments => @comments } %>
                              <% end %>

                              <% if user_signed_in? %>
                                <%= form_for([@assignment,Comment.new], :html => { :class => 'form-vertical' }) do |f| =%>
                                  <%= f.hidden_field :user_id, :value=>current_user.id %>
                                  <%= f.hidden_field :commentable_id, :value=>@assignment.id %>
                                  <%= f.hidden_field :commentable_type, :value=>@assignment.class.name  %>

                                  <%= gravatar_tag current_user, :size => 35, :id => "comment-img" %>

                                  <%= f.text_area :body, :id => "comment", :class => "span8", :rows => 5, :style => "resize:none" %>
                                  <%= f.submit "Add comment", :class => 'btn', :id => "comment_btn" %>
                                <% end %>
                              <% else %>
                                  <%= link_to "Log in to comment", new_user_session_path %>   
                              <% end %>

                            </section>

                          </div>

                        </div>

                      </div>
                    </div>
                  </div> 

                </div>
                <div class="clearfix"></div>

              </div>

              <!-- End of main content area -->

              <!-- Start of side bar (right) -->

              <div class="col-md-3">
                <div class="awidget">
                  <div class="related-challenges">
                    <h2>Related </h2>
                    <h2 class="challenge">Challenges</h2>
                    <ul>
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                    </ul>
                  </div>
                  <div class="quizes">
                    <h2>Quizes </h2>
                    <ul>
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                    </ul>
                  </div>
                  <div class="faq">
                    <h2>FAQs</h2>
                    <ul>
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                    </ul>
                  </div>
                  <div class="social">
                    <h2>Connect with us</h2>
                    <ul>
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- End of side bar -->

            </div>
          </div>
        </div>
      </div>
    
      <!-- Footer starts -->
      <footer>
        <div class="container">
          <div class="copy text-center">
            Copyright 2013 &copy; - <a href="http://annajkong.com/">Dayr Me</a>
          </div>
        </div>
      </footer>
      <!-- Footer ends -->