      <!-- Page content -->
      
      <div class="page-content blocky">
        <div class="container">
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-10">

                <!-- main content area -->
                <div class="mainy">
                  <!-- Page title -->
                  <!-- Page title -->
                  <div >
                    <div >
                      <div class="awidget">

                        <div class="awidget-body">

                          <!-- Dayr Top Half Details -->

                          <div class="row">

                            <!-- Dayr Top-Left (includes time, and dayrs)-->

                            <div class="col-md-6">
                                <div class="col-md-3 hidden-xs">
                                  <p>02</p><div class="tlabel">HOURS</div>
                                </div> 
                                <div class="col-md-3 hidden-xs">
                                  <p>35</p><div class="tlabel">MINS</div>
                                </div>
                                <div class="col-md-3 hidden-xs">
                                  <p id="seconds">21</p><div class="tlabel">SECS</div>
                                </div>
                                <div class="col-md-10">
                                  <div class="challenge-image challenge-image-mobile hidden-lg hidden-md hidden-sm">
                                    <%= image_tag @assignment.challenge.image_url || "http://placehold.it/380x285", {:width => '100%'} %>
                                    <% attribution = @assignment.challenge.image_attribution_url %>
                                    <br/>
                                  </div>                                         
                                  <p>
                                    Start communicating better with your baby with these unique tips and tricks most moms never knew about! 
                                    <br/><br/>
                                    <span id="signature">By the <span id="dayr-doctor">Dayr Doctor</span></span>
                                  </p>

                                  <% if @completions_size == 0 %>
                                    <h2>Be the first mom to dayr!</h2>
                                  <% elsif @completions_size == 1 %>
                                    <h2><span id="dayrs"><%= pluralize(@completions_size, 'mom') %></span> dayr'd</h2>
                                  <% else %>
                                    <h2><span id="dayrs"><%= pluralize(@completions_size, 'moms') %></span> dayr'd</h2>
                                  <% end %>
                                  <hr/>
                                  <ul class="completions">
                                    <% @assignment.completions.each do |completion| %>
                                      <li style="list-style-type:none; float: left;">
                                        <% if completion.user %>
                                          <%= link_to profile_path(completion.user.username) do %>
                                            <%= gravatar_tag completion.user, :size => '60', :html => { :style => "float:left;margin:0 10px 10px 0;" }  %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to "#" do %>
                                            <%= gravatar_tag completion.user, :size => '60', :html => { :style => "float:left;margin:0 10px 10px 0;" }  %>
                                            <%= "[deleted]" %>
                                          <% end %>            
                                        <% end %>     
                                      </li>
                                    <% end %>
                                  </ul>

                                </div>
                            </div>

                            <!-- Dayr Top-Left (includes picture)-->

                            <div class="col-md-6">
                              <div class="challenge-image hidden-sm hidden-xs">
                                <%= image_tag @assignment.challenge.image_url || "http://placehold.it/380x285", {:width => '100%'} %>
                                <% attribution = @assignment.challenge.image_attribution_url %>
                              </div>        

                            </div>
                          </div>
                          <div class="col-md-12">
                            <p>
                              <%= raw textilize @assignment.challenge.description %>
                            </p>

                            <!-- Challenge button -->
                            <% if user_signed_in? %>
                              <% if Completion.where("assignment_id = ? AND user_id = ?", @assignment, current_user).empty? %>
                                <%= link_to "I did this!", complete_assignment_path(@assignment), 
                                  :method => :post,
                                  :class => 'btn btn-primary btn-large challenge-button', :id => 'complete-btn' %>
                              <% else %>
                                <a class="btn btn-large challenge-button disabled">I did this!</a>
                              <% end %>
                            <% else %>
                              <%= link_to "Log in to Dayr!", new_user_session_path, 
                                :class => "btn btn-large btn-primary challenge-button" %>
                            <% end %>
                            <hr/>

                            <section>

                              <h2 id="comments_count">
                                <% if @comments != nil && @comments.length != 0 %>
                                  <%= pluralize(@comments.count, "Comment") %>  
                                <% else %>
                                  Leave a comment...
                                <% end %>
                              </h2>

                              <% if @comments %>
                                <%= render :partial => "comments/threaded_view", :locals => { :comments => @comments } %>
                              <% end %>

                              <% if user_signed_in? %>
                                <%= form_for([@assignment,Comment.new], :html => { :class => 'form-vertical' }) do |f| =%>
                                  <%= f.hidden_field :user_id, :value=>current_user.id %>
                                  <%= f.hidden_field :commentable_id, :value=>@assignment.id %>
                                  <%= f.hidden_field :commentable_type, :value=>@assignment.class.name  %>

                                  <%= gravatar_tag current_user, :size => 35, :id => "comment-img" %>

                                  <%= f.text_area :body, :id => "comment", :class => "span8", :rows => 5 %>
                                  <%= f.submit "Add comment", :class => 'btn', :id => "comment_btn" %>
                                <% end %>
                              <% else %>
                                  <%= link_to "Log in to comment", new_user_session_path %>   
                              <% end %>

                            </section>

                          </div>

                        </div>

                      </div>
                    </div>
                  </div> 

                </div>
                <div class="clearfix"></div>

              </div>
              <!-- End of main content area -->

            </div>
          </div>
        </div>
      </div>
    
      <!-- Footer starts -->
      <footer>
        <div class="container">
          <div class="copy text-center">
            Copyright 2013 &copy; - <a href="http://annajkong.com/">Dayr Me</a>
          </div>
        </div>
      </footer>
      <!-- Footer ends -->
      
      <!-- Scroll to top -->
      <span class="totop"><a href="#"><i class="glyphicon glyphicon-arrow-up"></i></a></span> 
