<!-- main content area -->

<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  <div >
    <div >
      <div class="awidget">

        <div class="awidget-body">

          <!-- Dayr Top Half Details -->

          <!-- Dayr Top-Left (includes time, and dayrs)-->
          <div class="col-md-12">

            <!-- Date timer count -->
            <div class="timer">
              <p>
                <%= @assignment.date.strftime("%b %d, %Y")%>
              </p>
            </div>

            <!-- Challenge Title -->
            <div class="row">
              <h1 class="challenge-name"> <%=@assignment.challenge.name%></h1>
            </div>

            <div class="row">

              <!-- Challenge Information -->
              <div class="col-md-6" style="padding-right:10px;">
                <div class="phone-img hidden-md hidden-lg visible-xs visible-sm">
                  <%= image_tag @assignment.challenge.image_url || "http://placehold.it/380x285", {:width => '100%'} %>
                  <% attribution = @assignment.challenge.image_attribution_url %>
                </div>
                <%= @assignment.challenge.subtitle %><br><br>
                <p>
                  <strong>Challenge: </strong>
                  <span class="boldFont"><%= @assignment.challenge.task %></span>
                </p>

                <!-- Challenge Button -->
                <% if user_signed_in? %>
                  <% if Completion.where("assignment_id = ? AND user_id = ?", @assignment, current_user).empty? %>
                    <%= link_to "I did this!", 
                      complete_assignment_path(@assignment), 
                      :method => :post,
                      :class => 'btn btn-primary btn-large challenge-button', 
                      :id => 'complete-btn', 
                      :onclick => "callModal()",
                      :remote => true,
                      :tag => p
                      %>
                  <% else %>
                    <a class="btn btn-large challenge-button disabled">I did this!</a>
                  <% end %>
                <% else %>
                  <%= link_to "Log in and Complete!", new_user_session_path, 
                    :class => "btn btn-large btn-primary challenge-button" %>
                <% end %>


                <!-- Modal Fireworks -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h1 class="modal-title" id="myModalLabel">Challenge Completed!</h1>
                      </div>
                      <div class="modal-body">
                        Congrats you completed the challenge! Don't forget to check back tomorrow for the next challenge.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.reload();">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- People who completed this challenge -->
                <% if @completions_size == 0 %>
                  <p class="dayrs">be the first to do this challenge!</p>
                <% elsif @completions_size == 1 %>
                  <p class="dayrs"><span id="dayrs"><%= pluralize(@completions_size, 'mom') %></span> did this</p>
                <% else %>
                  <p class="dayrs"><span id="dayrs"><%= pluralize(@completions_size, 'moms') %></span> did this</p>
                <% end %>
                <hr style="border-top: 1px dotted;"/>
                <ul class="completions">
                  <% @assignment.completions.each do |completion| %>
                    <li style="list-style-type:none; float: left;">
                      <% if completion.user %>
                        <%= link_to profile_path(completion.user.username) do %>
                          <%= gravatar_tag completion.user, :size => '60', :html => { :style => "float:left;" }  %>
                        <% end %>
                      <% else %>
                        <%= link_to "#" do %>
                          <%= gravatar_tag completion.user, :size => '60', :html => { :style => "float:left;" }  %>
                          <%= "[deleted]" %>
                        <% end %>            
                      <% end %>     
                    </li>
                  <% end %>
                </ul>
                <br>
                <hr style="border-top: 1px dotted;"/>

              </div>

              <div class="col-md-6">
                <div class="hidden-xs hidden-sm hidden-m">
                  <%= image_tag @assignment.challenge.image_url || "http://placehold.it/380x285", {:width => '100%'} %>
                  <% attribution = @assignment.challenge.image_attribution_url %>
                </div>
              </div>
            </div>

            <!-- Dayr Top-Right (includes picture)-->
          </div>
          <div class="col-md-12">
            <p>
              <%= raw textilize @assignment.challenge.description %>
            </p>

            <br>

            <hr/>

            <section>

              <h2 id="comments_count">
                <% if @comments != nil && @comments.length != 0 %>
                  <%= pluralize(@comments.count, "Comment") %>  
                <% else %>
                  Leave a comment...
                <% end %>
              </h2>

              <% if @comments %>
                <%= render :partial => "comments/threaded_view", :locals => { :comments => @comments, :commentable_object => @assignment  } %>
              <% end %>

              <!-- Line to separate the comment box from the comments -->
              <hr class="comment_separater">

              <% if user_signed_in? %>
                <%= form_for([@assignment,Comment.new], :html => { :class => 'form-vertical' }) do |f| =%>
                  <%= f.hidden_field :user_id, :value=>current_user.id %>
                  <%= f.hidden_field :commentable_id, :value=>@assignment.id %>
                  <%= f.hidden_field :commentable_type, :value=>@assignment.class.name  %>

                  <%= f.text_area :body, :id => "comment", :placeholder => " What did you think about this challenge?",:class => "span8", :rows => 5, :style => "resize:none" %>
                  <%= f.submit "Add comment", :class => 'btn', :id => "comment_btn" %>
                <% end %>
              <% else %>
                  <%= link_to "Log in to comment", new_user_session_path %>   
              <% end %>

            </section>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
<div class="clearfix"></div>

<!-- End of main content area -->

<% content_for :sb do %>


<% end %>

<% content_for :js do %>
<script>

function callModal() {
    $('#myModal').modal();
}

function refreshpage() {
    location.reload();
}

</script>
<% end %>
