<% content_for :title do %>Your Advice Messages<% end %>

<% content_for :head do %>
  <style>
    .discussion-actions {
      display:none;
      margin-left:20px;
    }
    ul.discussion_message > li {
      clear:both;
      padding:5px;
      list-style-type: none;
    }

  </style>
<% end %>


<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  <div >
    <div >
      <div class="awidget">

        <div class="awidget-body">

          <!-- Dayr Top Half Details -->

          <!-- Dayr Top-Left (includes time, and dayrs)-->
          <div class="col-md-12">
            <!-- main content area -->
            <div class="page-actions">
              <% if user_signed_in? %>
              <%= link_to '+ New Discussion', new_discussion_path, :class => 'btn btn-primary', :id => 'new-assign' %> 
              <% else %>
              <%= link_to "Log in to Discuss!", new_user_session_path, 
                :class => "btn btn-large btn-primary",  :id => 'new-assign' %>
              <% end %>

            </div>

            <h1>Discussion Board</h1>

            <% if @discussions != nil && @discussions.length != 0%>
              <% @discussions.each do |discussion| %>
              <article class="search-result row">
                <div class="column-left">
                  <a href="#" title="Lorem ipsum" class="thumbnail">
                    <%= gravatar_tag discussion.user , :size => '60', :html => { :style => "float:left;" }%>
                  </a>
                </div>
                <div class="column-right">
                  <i class="glyphicon glyphicon-calendar"></i> <span><%=h discussion.created_at.strftime("%b %d, %Y") %></span>
                  <h3><%= link_to discussion.subject, discussion, :class => 'assignment-challenge' %></h3>
                  <p> <%= truncate( discussion.content, length:45 ) %></p> 
                </div>
                <span class="clearfix borda"></span>
              </article>                         
              <% end %>
            <% else %>

            <% end %>        

            <!-- end of main content -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sb do %>


<% end %>
