<!-- Page content -->
<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  <div >
    <div >
      <div class="awidget">
        <div class="awidget-body">
          <!-- Dayr Top Half Details -->
          <!-- Dayr Top-Left (includes time, and dayrs)-->
          <div class="col-md-12">
            <!-- main content start-->
                    
    			<% content_for :title do %>Discussion Message<% end %>

    			<h1><%= @discussion.subject %></h1>
          <strong><%= simple_format(@discussion.content) %></strong>
          <div class="message-head clearfix">
              <div class="user-detail">
                <div class="post-meta">
                  <div class="asker-meta">
                    <span class="qa-message-when">
                      <span class="qa-message-when-data"><%= time_ago_in_words(@discussion.created_at) %> ago</span>
                    </span>
                    <span class="qa-message-who">
                      <span class="qa-message-who-pad">by </span>
                      <span class="qa-message-who-data"><%= @discussion.user.username %></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          <br>
          <hr>

			    <section>

	           <h2 id="comments_count">
	             <% if @comments != nil && @comments.length != 0 %>
	               <%= pluralize(@comments.count, "Comment") %>  
	             <% else %>
	               Leave a response...
	             <% end %>
	           </h2>

	           <% if @comments %>


	             <%= render :partial => "comments/threaded_view", :locals => { :comments => @comments, :commentable_object => @discussion } %>
	           <% end %>

              <!-- Line to separate the comment box from the comments -->
             <hr class="comment_separater">

	           <% if user_signed_in? %>
	             <%= form_for([@discussion,Comment.new], :html => { :class => 'form-vertical' }) do |f| =%>
	               <%= f.hidden_field :user_id, :value=>current_user.id %>
	               <%= f.hidden_field :commentable_id, :value=>@discussion.id %>
	               <%= f.hidden_field :commentable_type, :value=>@discussion.class.name  %>

                  <%= f.text_area :body, :id => "comment", :placeholder => " Add to this discussion!",:class => "span8", :rows => 5, :style => "resize:none" %>
	               <%= f.submit "Add response", :class => 'btn', :id => "comment_btn" %>
	             <% end %>
	           <% else %>
	               <%= link_to "Log in to comment", new_user_session_path %>   
	           <% end %>

            </section>
            <!-- main content end-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sb do %>

  <div class="awidget">
    <div class="faq">
      <h2>Contact</h2>
      <ul>
        <li><a href="https://www.facebook.com/groups/toolsforteenmoms/" target="_blank">T4TM Facebook Group</a></li>
          <% if user_signed_in? %>
            <li><%= link_to "Ask the Advice Nurse", new_advice_message_path%></li>
          <% else %>
            <li><%= link_to "Log in to Ask the Nurse", new_user_session_path%></li>
          <% end %>
        <li><a href="/about/#Contact">Site Coordinators</a></li>
      </ul>
    </div>

  </div>

<% end %>