<!-- for the commenting section -->

<% content_for :head do %>
<style>

section {
  margin-top: 30px;
}

.comments {
  clear:both;
  margin-top: 20px;
}

.comment {
  clear:both;
  margin-left:40px;
  margin: 20px;
}

.comment-img {
  float:left;
  margin-left:-40px;
}

.comment-timeago {
  color:#999;
}

.comment-child .comment-timeago {
  display: none;
}

.comment-username {
  font-weight:bold;
}

.comment-root img{
  width: 50px;
  height: 50px;
  margin-right: 12px;
  margin-left: 25px;
}


.comment-reply {
  display:none;
  margin-top:10px;
  margin-left:80px;
}

p.comment-username {
  margin-bottom:0;
}

.comment-timeago {
  font-size:11px;
}

.comment-child {
  margin:0px;
  margin-left:80px;
}

</style>
<% end %>
<div class="comments">
  <% comments.each do |comment| %>

    <div class="comment <%= comment.root? ? 'comment-root' : 'comment-child' %>">
  
  	  <% if comment.root? %>
  	    <% @tmp = comment %>
  	  <% end %>
      <div class="pull-left">
        <% if comment.user %>      
        <%= link_to(profile_path(comment.user.username), :class => 'comment-img') do %>
          <%= gravatar_tag comment.user, :size => 30 %>
        <% end %>
      </div>
      <div class="qa-message-list" >
        <div class="message-item" >
          <div class="message-inner">
            <div class="qa-message-content">
                <%= simple_format(comment.body) %>
            </div>

                <div class="user-detail">
                  <div class="post-meta">
                    <div class="asker-meta">
                      <span class="qa-message-when">
                        <span class="qa-message-when-data"><%= time_ago_in_words(comment.created_at) %> ago</span>
                      </span>
                      <span class="qa-message-who">
                        <span class="qa-message-who-pad">by </span>
                        <span class="qa-message-who-data"><%= comment.user.username %></span>
                      </span>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>

      
  	       
      <% else %>
        <%= link_to("#{}", :class => 'comment-img') do %>
          <%= gravatar_tag comment.user, :size => 30 %>
        <% end %>
        
        <div class="comment-timeago"><%= time_ago_in_words(comment.created_at) %> ago</div>
        <p class="comment-username">[deleted]</p>        
      <% end %>
		

  		
		</div>
		
		<% if user_signed_in? and comment.leaf? and (comment.id == @tmp.id || (comment.rgt+1 == @tmp.rgt)) %>
			<%= link_to_function 'Reply', "$('#comment-reply-" + comment.id.to_s + "').toggle()", :id => 'comment-reply-btn' %>
			<div id="comment-reply-<%=comment.id%>" class="comment-reply">
			  <%= link_to(profile_path(current_user.username), :class => 'comment-img') do %>
  			  <%= gravatar_tag current_user, :size => 30 %>
  			<% end %>
				<%= render :partial => "comments/form", :locals => { :comment => comment, :parent_id => @tmp.id, :commentable_object => commentable_object } %>
			</div>
		<% end %>
  	
  <% end %>
</div>