<!-- for the commenting section -->

<% content_for :head do %>


<% end %>
<div class="comments">
  <% comments.each do |comment| %>

    <div class="comment <%= comment.root? ? 'comment-root' : 'comment-child' %>">
  
  	  <% if comment.root? %>
  	    <% @tmp = comment %>
  	  <% end %>
      <div class="pull-left">
        <% if comment.user %>      
          <%= link_to(profile_path(comment.user.username), :class => 'comment-img') do %>
            <%= gravatar_tag comment.user %>
          <% end %>
        <% else %>
          <%= link_to("#{}", :class => 'comment-img') do %>
            [deleted]
          <% end %>  
        <% end %>
      </div>
      <div class="qa-message-list" >
        <div class="message-item" >
          <div class="message-inner">
            <div class="qa-message-content">
                <%= simple_format(comment.body) %>
            </div>

                <div class="user-detail">
                  <div class="post-meta">
                    <div class="asker-meta">
                      <span class="qa-message-when">
                        <span class="qa-message-when-data"><%= time_ago_in_words(comment.created_at) %> ago</span>
                      </span>
                      <span class="qa-message-who">
                        <span class="qa-message-who-pad">by </span>
                        <span class="qa-message-who-data">
                          <% if comment.user %>
                            <%= comment.user.username %>
                          <% else %>
                            [deleted]
                          <% end %>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>

      
  	       

		

  		
		</div>
		
		<% if user_signed_in? and comment.leaf? and (comment.id == @tmp.id || (comment.rgt+1 == @tmp.rgt)) %>
			<%= link_to_function 'Reply', "$('#comment-reply-" + comment.id.to_s + "').toggle()", :id => 'comment-reply-btn' %>
			
      <div id="comment-reply-<%=comment.id%>" class="comment-reply">
			  <%= link_to(profile_path(current_user.username), :class => 'comment-img') do %>
  			  <%= gravatar_tag current_user %>
  			<% end %>
				<%= render :partial => "comments/form", :locals => { :comment => comment, :parent_id => @tmp.id, :commentable_object => commentable_object } %>
			</div>
		<% end %>
  	
  <% end %>
</div>