<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  <div >
    <div >
      <div class="awidget">

        <div class="awidget-body">

          <div class="col-md-12">

          <h1>Forgot your password?</h1>

          <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
            <%= devise_error_messages! %>

            <p><%= f.label :email %><br />
            <%= f.email_field :email %></p>
            <br>
            <p>*this message will be sent to both your email and SMS address, in case you lost access to your email</p>
            <br>
            <p><%= f.submit "Send me reset password instructions" %></p>
          <% end %>
          <br>
          <%= render :partial => "devise/shared/links" %>

              </div>
        </div>
      </div>
    </div>
  </div>
</div>
