<!-- Page content -->
<div class="page-content blocky">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">

            <!-- main content area -->
                <div class="mainy">
                  <!-- Page title -->
                  <!-- Page title -->
                    <div class="awidget">

                        <div class="awidget-body">

				<h1>Forgot your password?</h1>

				<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
				  <%= devise_error_messages! %>

				  <p><%= f.label :email %><br />
				  <%= f.email_field :email %></p>

				  <p><%= f.submit "Send me reset password instructions" %></p>
				<% end %>

				<%= render :partial => "devise/shared/links" %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>