<!-- Page content -->
<div >
  <div class="col-md-12">
    <div class="login-container">
      <div class="form-box">
        <% content_for :title do %>Sign in<% end %>

          <h1 style="margin-top: 25px;">Sign in</h1>

          <%= form_for(resource,
                :as => resource_name,
                :url => session_path(resource_name),
                :html => {
                  :class => 'form-horizontal'
                }) do |f| %>
            
           <div class="controls">
               <%= f.text_field :login, :placeholder => "Username" %>
              </div>
            
           <div class="controls">
               <%= f.password_field :password, :placeholder => "password"  %>
              </div>

            <% if devise_mapping.rememberable? -%>
              <label id="remember-me">
                <%= f.check_box :remember_me, {:checked=>true} %>
                 Remember me
              </label>
            <% end -%>
            
                <%= f.submit "Sign in", :class => 'btn btn-primary btn-info btn-block login' %>
            
            <div class="control-group">
              <div class="controls login-controls">
                <%= render :partial => "devise/shared/links" %>
              </div>
            </div>
          <% end %>

    </div>



  </div>
</div>
</div>

