<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/"><img src="/assets/dayr/hd-logo.png" /></a>
			
			<ul class="nav">
			  <%= content_tag :li, :class => current_page?(root_path) ? 'active' : nil do %>
  				<%= link_to "Home", root_path %>
			  <% end %>
			  <%= content_tag :li, :class => (controller.controller_name == 'assignments') ? 'active' : nil do %>
				<%= link_to "Challenges", assignments_path %>
			  <% end %>
		      <%= content_tag :li,  :class => current_page?(about_path) ? 'active' : nil do %>
				<%= link_to('About', about_path) %>
			  <% end %>
			</ul>
			
			<% if user_signed_in? %>
				<div class="pull-right">
					<ul class="nav ">
						<li><%= link_to('Account', edit_user_registration_path) %></li>
						<li><%= link_to('Log out', destroy_user_session_path, :method => :delete) %></li>
					</ul>
				</div>
				<p class="navbar-text pull-right" style="margin-right:10px">
					Logged in as
					<%= link_to(current_user.username, profile_path(current_user.username)) %>
				</p>
			<% else %>
				<div class="pull-right">
					<ul class="nav">
						<li><%= link_to('Log in', new_user_session_path) %></li>
						<li><%= link_to('Sign up', new_user_registration_path) %></li>
					</ul>
				</div>
			<% end %>
		</div>
	</div>
</div>