<!DOCTYPE html>
<html>
<head>
	<title><%= content_for?(:title) ? yield(:title) + " - " : "" %>Dayr</title>
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- CSS -->
	<%= stylesheet_link_tag 'application' %>
	
	<%= csrf_meta_tag %>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href='http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="/assets/dayr/javascript/bootstap.min.js"></script>

	<%= yield(:head) %> 
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34996827-1']);
	  _gaq.push(['_setDomainName', 'dayr.me']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	
	<!-- Navbar layouts/_navbar-->
  <%= render :partial => 'layouts/navbar' %>

  <div class="container">
    <div class="content-wrap">
    	<div class="row">
			<div class="page-content blocky">
			   <div class="container ">
			     <div class="row">
    	
		    	  <!-- Content assignmetns/show.html-->
		    		<div class="col-md-9">
		    			<%= yield %>
		    		</div>
				
		    		<!-- Sidebar -->
		      		<div class="col-md-3">
					  <div class="awidget">
					  	<%= yield :sb %>
					    <div class="related-challenges">
					      <h2>Additional Information</h2>
					      <ul>
					        <li> <%= link_to "How do I know my baby is getting enough to eat?", additional_information_path(:id=>3) %>  </li>
					        <li><%= link_to "How do I know my baby is ready for solid foods?", additional_information_path(:id=>2) %>  </li>
					        <li><%= link_to "The Truth about Baby Blues", additional_information_path(:id=>1) %> </li>
					        <li><%= link_to "A Cue is a Clue", additional_information_path(:id=>4) %> </li>
					        <li><%= link_to "My Baby's First Foods", my_babys_first_foods_path %></li>
					        <li><%= link_to "Feeding My Older Baby", feeding_my_older_baby_path %></li>
					        <li><%= link_to "How does my baby grow?", "http://www.cdc.gov/parents/infants/" %> </li>
					        <li><%= link_to "Infant Feeding 101", "http://www.aap.org/en-us/advocacy-and-policy/aap-health-initiatives/HALF-Implementation-Guide/Age-Specific-Content/Pages/Infant-Food-and-Feeding.aspx" %> </li>      
					      </ul>
					    </div>
					    <div class="faq">
					      <h2>Quizzes for Moms</h2>
					      <ul>
					        <li><a href="/quiz1">Red Light, Green Light</a></li>
					        <li><a href="/quiz2">Baby Personality</a></li>
					        <li><a href="/quiz3">Does the Apple fall...</a></li>
					        <li><a href="/quiz4">Make Solid Decisions</a></li>
					      </ul>
					    </div>
					    <div class="faq">
					      <h2>Contact</h2>
					      <ul>
					        <li><a href="https://www.facebook.com/groups/toolsforteenmoms/" target="_blank">T4TM Facebook Group</a></li>
					        <li>                  
					          <% if user_signed_in? %>
					            <li><%= link_to "Ask the Advice Nurse", new_advice_message_path%></li>
					          <% else %>
					            <li><%= link_to "Log in to Ask the Nurse", new_user_session_path%></li>
					          <% end %>
					        <li><a href="/about/#Contact">Site Coordinators</a></li>
					      </ul>
					    </div>
					    <div class="share">
					      <h2>Share</h2>
					      <!-- Like Buttons BEGIN -->
					      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
					        <a class="addthis_button_preferred_1"></a>
					        <a class="addthis_button_preferred_2"></a>
					        <a class="addthis_button_preferred_3"></a>
					        <a class="addthis_counter addthis_bubble_style"></a>
					      </div>
					      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
					      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5289d4263ec6634a"></script>
					      <!-- Like Buttons END -->
					    </div>
					  </div>
		    		</div>
		    	</div>
		  	</div>
		  </div>    		
    	</div>
  	</div>
  </div>

  <!-- Javascripts -->
  <%= javascript_include_tag 'application' %>
  <%= yield(:js) %>

</body>
</html>


<% if false %>

<div id="hd" class="container">
	<div id="hd_logo_rays"></div>
	<div class="span-12">
		<a href="/"><img id="hd_logo" src="/images/dayr/hd_logo.png" title="Dayr" /></a>
	</div>
	<div class="span-12 last">
		<ul id="hd_nav">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
			
			<% if user_signed_in? && current_user.admin? %>
			<li><%= link_to "Challenges", challenges_path %></li>
			<li><%= link_to "Assignments", assignments_path %></li>
			<% end %>
			
			<% if user_signed_in? %>
				<li><%= link_to "Logout", destroy_user_session_path %></li>
			<% else %>
				<li><%= link_to "Join", new_user_registration_path %></li>
				<li class="last"><%= link_to "Login", new_user_session_path %></li>
			<% end %>
		</ul>
	</div>
</div>

<div id="content" class="container container_wrap">
	<div class="span-18">
		<div class="span-18 last">
			<%= yield %>
		</div>
		<div class="span-18 last">
			<%= yield(:comments) %>
		</div>
	</div>
	<div class="span-6 last">
		<div style="margin-left:15px">
			<%= yield(:sb) %>
		</div>
	</div>
</div>

<% end %>