<!-- Page content -->
<div class="page-content blocky">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">

            <!-- main content area -->
                <div class="mainy">
                  <!-- Page title -->
                  <!-- Page title -->
                    <div class="awidget">

                        <div class="awidget-body">

                          <% content_for :title do %>Sign up<% end %>
                          <h1>Sign up</h1>

                          <%= form_for(resource, 
                                :as => resource_name, 
                                :url => registration_path(resource_name),
                                :html => {
                                  :class => 'form-horizontal'
                                }) do |f| %>
                                
                            <%= devise_error_messages! %>
                            <%= flash_messages %>

                            <div class="control-group">
                              <%= f.label :username, :class => 'control-label' %> *alphabets and numbers only*
                              <div class="controls">
                                <%= f.text_field :username %>
                              </div>
                            </div>
                            
                            <div class="control-group">
                              <%= f.label :email, :class => 'control-label' %>
                              <div class="controls">
                                <%= f.email_field :email %>
                              </div>
                            </div>

                            <div class="control-group">
                              <%= f.label :sms_address, :class => 'control-label' %>
                              <div class="controls">
                                <%= f.email_field :sms_address %>
                              </div>
                            </div>
                            
                            <div class="control-group">
                              <%= f.label :password, :class => 'control-label' %>
                              <div class="controls">
                                <%= f.password_field :password %>
                              </div>
                            </div>
                            
                            <div class="control-group">
                              <%= f.label :password_confirmation, :class => 'control-label' %>
                              <div class="controls">
                                <%= f.password_field :password_confirmation %>
                              </div>
                            </div>

                            <div class="control-group">
                              <%= f.label :sign_up_code, :class => 'control-label'  %>
                              <div class="controls">
                                 <%= f.password_field :sign_up_code %>
                              </div>
                            </div>

                            <br>
                            
                            <div class="control-group">
                              <div class="controls">
                                <%= recaptcha_tags %>
                              </div>
                            </div>
                            
                            <div class="control-group">
                              <div class="controls">
                                <%= f.submit "Sign up", :class => 'btn btn-primary' %>
                              </div>
                            </div>
                            
                            <div class="control-group">
                              <div class="controls">
                                <%= render :partial => "devise/shared/links" %>
                              </div>
                            </div>

                          <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
